<!-- {% extends 'main.html' %} -->
{% load static %} 
{% block styles %}
<!-- Replace {name} with the respective css file -->
<link rel="stylesheet" href="{% static 'styles/signup.css' %}" />
{% endblock %}

{% block content %} 
<div class="container">
<div class="form-container sign-in-container">
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <img src="{% static 'images/mybook-logo.svg' %}" alt="MyBook logo" style="width:72px;height:72px;margin-bottom:10px;">
        <h2 style="color:#26324d;font-weight:700;margin-bottom:8px;">MyBook</h2>
        <h1 style="color:rgb(107,76,230)" style="position:relative;bottom:15px;">Sign in</h1>
        <input type="text" placeholder="Username" name="username" />
        <br>
        <input type="password" placeholder="Password" name="password" />
        <br/>
        <button>Sign In</button>
    </form>
</div>

<div class="overlay-container">
    <div class="overlay">
        <div class="overlay-panel overlay-right">
            <h1>Join MyBook</h1>
            <p>Create your profile and connect with friends</p>
            <button class="ghost" id="'signUp">
                <a href="{% url 'signup' %}" style="text-decoration:none;color:#fff;">
                Sign Up
                </a>
            </button>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}
